@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-family: 'Inter', sans-serif;
    --color__background: #E5E5E5;
    --font__color-blue: #0A3871;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--color__background);
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    /* background-color: red; */
}

header{
    display: inline-block;
    margin-top: 10px;
    /* background-color: red; */
}

.header__logo > img {
    width: 8vw;
}


.container__text{
    width: 80%;
    height: 65vh;
    padding-left: 10vw;
}

.container__text > textarea{
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    color: var(--font__color-blue);
    background-color: var(--color__background);
    font-size: 2vw;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 20px;
    resize: none;
    border: none;
    outline: none;
}

.container__text > textarea::placeholder{
    color: var(--font__color-blue);
}

.container__message{
    background-color: #FFFFFF;
    border-radius: 32px;
    margin-right: 40px;
    width: 20vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.container__message-text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    /* background-color: red; */
}

.container__message-text > textarea{
    width: 100%;
    height: 550px;
    font-family: var(--font-family);
    color: #495057;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 150%;
    outline: none;
    border: none;
}

.container__message-text > button{
    background-color: #FFFFFF;
    font-size: 2vmin;
    width: 100%;
    height: 3vw;
    box-sizing: border-box;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
}


.container__message-no__message{
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    
}

.container__message-no__message > img{
    width: 100%;
    margin-top: 5vw;
}

.container__message-no__message > h3{
    font-style: bold;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}

.container__message-no__message > p{
    font-size: 1vw;
    text-align: center;
    margin-top: 10px;
}


/* Footer */
.container__options {
    width: 100%;
    /* background-color: green; */
}
.container__options-text{
    color: #495057;
    font-size: 2vmin;
    margin-left: 20px;
    font-family: var(--font-family);
}
.container__options-text > img{
    width: 2vmin;
}

.container__options-butttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__options-butttons > button{
    margin: 0 20px;
    width: 100%;
    height: 5vw;
    border-radius: 5px;
    border: 1px solid #0A3871 ;
    font-size: 2vmin;
    cursor: pointer;
}

.btn-encriptar{
    background-color: #0A3871;
    color: #FFFFFF;
    font-family: var(--font-family);
}

.btn-desencriptar{
    font-family: var(--font-family);
    color: var(--font__color-blue);
}

@media (max-width: 750px) {
    .container{
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        padding: 0 10px;
        /* background-color: red; */
    }

    .container__text{
        margin-top: 2vh;
        width: 100%;
        padding: 0;
        height: 60vw;
    }

    .container__text > textarea{
        font-size: 5vw;
    }
    .container__message{
        width: 100%;
        margin-top: 8vh;
        height: auto;
    }
    .container__message-no__message > img{
        display: none;
    }

    .container__message-no__message > h3{
        font-size: 15px;
    }

    .container__message-no__message > p{
        font-size: 12px;
    }

    .container__message-text{
        width: 100%;
    }
    .container__message-text > textarea{
        font-size: 5vw;
        height: 25vw;
    }
    .container__message-text > button{
        width: 100%;
        height: 40px;
        font-size: 3vw;
    }
}

@media screen and (max-width: 550px) {
    .container__text{
        height: 250px;
    }

    .container__options{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .container__options-text{
        align-self: flex-start;
        margin: 0;
    }

    .container__options-butttons{
        flex-direction: column;
    }
    .container__options-butttons > button{
        width: 100%;
        height: 50px;
        font-size: 3vw;
        margin: 5px;
    }

    .container__message{
        height: 100%;
        margin-top: 20vh;
    }
}