@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-family: 'Inter', sans-serif;
    --color__background: #E5E5E5;
    --font__color-blue: #0A3871;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--color__background);
}

.container{
    width: 100%;
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: row;
    padding-left: 100px;
}

header{
    display: inline-block;
    margin-top: 10px;
    /* background-color: red; */
}

.header__logo > img {
    width: 50px;
}


.container__text{
    width: 100%;
    height: 250px;
}

.container__text > textarea{
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    color: var(--font__color-blue);
    background-color: var(--color__background);
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 20px;
    resize: none;
    border: none;
    outline: none;
}

.container__text > textarea::placeholder{
    color: var(--font__color-blue);
}

.container__message{
    background-color: #FFFFFF;
    border-radius: 32px;
    margin-right: 40px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container__message > img{
    width: 150px;
    margin-top: 25px;
}

.container__message > h3{
    font-style: bold;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
}

.container__message > p{
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
}


/* Footer */
.container__options {
    width: 100%;
    background-color: var(--color__background);
}
.container__options-text{
    color: #495057;
    font-size: 8px;
    margin-left: 20px;
    font-family: var(--font-family);
}
.container__options-text > img{
    width: 8px;
}
.container__options > button{
    margin: 5px 20px;
    display: inline-block;
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #0A3871 ;
    font-size: 10px;
    cursor: pointer;
}

.btn-encriptar{
    background-color: #0A3871;
    color: #FFFFFF;
    font-family: var(--font-family);
}

.btn-desencriptar{
    font-family: var(--font-family);
    color: var(--font__color-blue);
}

@media (max-width: 750px) {
    .container{
        flex-direction: column;
        padding: 0;
    }
    .container__message{
        height: auto;
        margin: 7vh 10px;
        padding: 40px;
    }
    .container__message > img{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .container__options{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .container__options-text{
        align-self: flex-start;
        margin: 0;
    }

    .container__options > button{
        width: 100%;
        height: 50px;
    }

    .container__message{
        margin-top: 24vh;
        margin-left: 10px;
        margin-right: 10px;
        height: 100%;
    }
}